@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --primary: #3AA8C1;
    --primary-dark: #005168;
    --accent: #FA9138;
    --neutral: #fff;
    --dynamic-scale: clamp(1rem, 3vw, 1.5rem);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: rgb(245, 245, 245);
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.5);
    transition: transform 250ms ease;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgb(221, 221, 221);
}

i {
    width: 2rem;
    height: 2rem;
}

.hidden {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary-dark);
    color: var(--neutral);
    font-family: 'Nunito', sans-serif;
    height: 100vh;
}

header {
    font-size: var(--dynamic-scale);
    margin: var(--dynamic-scale);
}

h1 {
    text-align: center;
}

#feedback {
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    margin: var(--dynamic-scale);
    height: 2.6875rem;
}

#scoreboard {
    display: flex;
    gap: 3em;
    height: 6rem;
}

#player,
#computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-size: clamp(0.8rem, 3vw, 1rem);
}

#player i,
#computer i {
    font-size: clamp(1rem, 15vw, 3rem);
}

#options {
    display: flex;
    gap: 2em;
    margin: 1.5em;
}

#options button {
    font-size: clamp(1rem, 15vw, 2rem);
}

#results {
    font-size: var(--dynamic-scale);
    font-weight: bold;
    height: 2rem;
    margin: 1em 0;
    animation: appear 250ms ease-in;
}

#restart {
    background-color: var(--accent);
    color: var(--primary-dark);
    font-size: clamp(1.05rem, 3vw, 1.25rem);
    font-weight: bold;
    animation: appear 250ms ease-in;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
